﻿@model WebApp_test.Models.Note
@{
	ViewBag.Title = "Добавление новой заметки";
}
<form asp-action="create" asp-controller="home">
	<div class="form-group">
		<label asp-for="NoteName" class="control-label">Название заметки</label>
		<input type="text" asp-for="NoteName" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="NoteValue" class="control-label">...</label>
		<input type="text" asp-for="NoteValue" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="Priority" class="control-label">Приоритет</label>
		<input type="number" asp-for="Priority" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="Deadline" class="control-label">Целевое время</label>
		<input type="date" asp-for="Deadline" class="form-control" />
	</div>
	<div class="form-group">
		<input type="submit" value="Send" class="btn btn-default" />
	</div>
</form>