﻿@model WebApp_test.Models.Note
@{
	ViewBag.Title = "Удаление заметки";
	ViewData["Title"] = "Delete Note";
}
@using WebApp_test;

<div>
	<form asp-action="Delete" asp-controller="Home" method="get">
		<div class="form-group">
			<label asp-for="NoteName" class="control-label">Название заметки</label>
			<input type="text" asp-for="NoteName" class="form-control" />
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-default" value="Send" />
		</div>
	</form>
</div>
