﻿@model WebApp_test.Models.Note
@{
	ViewBag.Title = Model.NoteName;
}
<h2>Заметка @Model.NoteName</h2>
<div>
	<dl class="dl-horizontal">
		<dt>Текст</dt>
		<dd>@Model.NoteValue</dd>

		<dt>Приоритет</dt>
		<dd>@Model.Priority</dd>

		<dt>Целевой срок</dt>
		<dd>@Model.Deadline</dd>
	</dl>
</div>