﻿@model WebApp_test.Models.Note
@{
	ViewBag.Title = "Редактирование смартфона";
}
<form asp-action="edit" asp-controller="home" asp-route-id="@Model._id">
	<div class="form-group">
		<label asp-for="NoteName" class="control-label">Название</label>
		<input type="text" asp-for="NoteName" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="NoteValue" class="control-label">Компания</label>
		<input type="text" asp-for="NoteValue" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="Priority" class="control-label">Цена</label>
		<input type="number" asp-for="Priority" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="Priority" class="control-label">Цена</label>
		<input type="datetime" asp-for="Deadline" class="form-control" />
	</div>
	<div class="form-group">
		<input type="submit" value="Send" class="btn btn-default" />
	</div>
</form>