﻿@{
	ViewData["Title"] = "Home Page";
}
@using WebApp_test;

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
			<li data-target="#myCarousel" data-slide-to="3"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<img src="~/images/l1.jpg" alt="ASP.NET" class="img-responsive" />
				<div class="carousel-caption" role="option">
				</div>
			</div>
			<div class="item">
				<img src="~/images/l2.jpg" alt="Visual Studio" class="img-responsive" />
				<div class="carousel-caption" role="option">
				</div>
			</div>
			<div class="item">
				<img src="~/images/l3.jpg" alt="Package Management" class="img-responsive" />
				<div class="carousel-caption" role="option">
				</div>
			</div>
			<div class="item">
				<img src="~/images/l4.jpg" alt="Microsoft Azure" class="img-responsive" />
				<div class="carousel-caption" role="option">
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>

	<div class="row">
		<div class="col-md-3">
			<h2>Реализованный функционал</h2>
			<ul>
				<li>Авторизация пользователей</li>
				<li>Регистрация пользователей</li>
				<li>Добавление заметок</li>
				<li>Просмотр списка заметок</li>
			</ul>
		</div>
		<div class="col-md-3">
			<h2>Потенциальные возможности</h2>
			<ul>
				<li>Удаление заметки</li>
				<li>Поиск по заметкам</li>
			</ul>
		</div>
		<div class="col-md-3">
			<h2>FAQ</h2>
			<ul>
				<li><a href="https://docs.microsoft.com/ru-ru/dotnet/csharp/language-reference/keywords/abstract">Что такое абстрактный класс?</a></li>
				<li><a href="https://docs.microsoft.com/ru-ru/dotnet/csharp/language-reference/keywords/interface">Что такое интерфейс?</a></li>
			</ul>
		</div>
		<div class="col-md-3">
			<h2>Использованные ресурсы</h2>
			<ul>
				<li><a href="https://metanit.com/sharp/aspnet5/1.1.php">ASP.NET Core</a></li>
				<li><a href="https://www.youtube.com/watch?v=b9VWcjryZ4E&list=PLL-k0Ff5RfqW8dF5-othi-imF6g48tUj5">Основы (видеокурс)</a></li>
				<li><a href="https://docs.microsoft.com/ru-ru/aspnet/core/getting-started?view=aspnetcore-2.0">Docs.microsoft.com</a></li>
			</ul>
		</div>
	</div>
