﻿@{
	ViewData["Title"] = "Show";
}
@using WebApp_test;
<table class="table">
	<tr><td>Название</td><td>Заметка</td><td>Приоритет</td><td>Дедлайн</td></tr>
	@foreach (var item in Model)
	{
		// Guid tmp = ;

		if (true/*item._idUser == tmp*/)
		{
			<tr><td>@item.NoteName</td><td>@item.NoteValue</td><td>@item.Priority</td><td>@item.Deadline</td></tr>
		}

	}
</table>
<br>
<hr>

<form action="Create">
	<button type="submit" class="btn btn-default">Добавить заметку</button>
</form>